@model personal_blog.Models.Post

@{
    ViewBag.Title = "NewPost";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mb-3">
    <h3 class="col text-center">New Post</h3>
</div>

<form class="form-control" method="post" enctype="multipart/form-data">
    <div class="row mb-3">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <label class="form-label">Header</label>
            @Html.TextBoxFor(x => x.Header, new { @class = "form-control", @placeholder = "Header.." })
            @Html.ValidationMessageFor(x => x.Header, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <label class="form-label">Category</label>
            @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.Category, new { @class = "form-control" })
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <label class="form-label">Image</label>
            <input type="file" name="Image" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label class="form-label">Details</label>
            @Html.ValidationMessageFor(x => x.Details, "", new { @class = "text-danger" })
            @Html.TextAreaFor(x => x.Details, new { @id = "content", @class = "form-control", @rows = "7" })
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <button type="submit" class="btn btn-info btn-lg btn-block"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</form>



<script src="//cdn.ckeditor.com/4.19.0/full/ckeditor.js"></script>
<script>
    CKEDITOR.replace('content');
</script>